# Archivos sensibles
.env
.env.*  # Si usás .env.production, .env.local, etc.

# Dependencias
node_modules/

# Salida de compilación (si usás TypeScript o bundlers)
dist/
build/

# Configuración de despliegue (Vercel, etc.)
.vercel/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de IDEs/editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos del sistema
.DS_Store
Thumbs.db

# Swap files (Linux/vi/Vim)
*.swp
*.swo

# Test coverage
coverage/
